{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'monterrat', sans-serif;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid #DF8E00;
  
  color: #313131;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .coord {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}

.location .city {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #FFF;
  font-size: 16px;
}

.current .temp {
  color: #FFF;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .weather, .feelslike {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .weatherdesc {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low, .humidity {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

/* reset inherit values for select element*/
select {
  appearance: none; 
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  grid-area: select;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

/* global variables to match HTML root class. */
:root {
  --select-border: rgba(251, 76, 76, 0.8);
  --select-focus: rgba(180, 100, 76, 1.0);
  --select-arrow: var(--select-border);
}

/* dropdown menu for temperature selection */
.temp-dropdown
{
  width: 20px;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.2;
  /* BEGIN -- properties for arrow */
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  /* END -- properties for arrow */
  background-color: rgba(201, 76, 76, 0.3);
  background-image: linear-gradient(to top, rgba(201, 76, 76, 0.3));
}

/* style for dropdown menu options */
.temp-dropdown option {
    margin: 40px;
    background: rgba(201, 76, 76, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

/* after pseudo class to create arrow for dropdown */
.temp-dropdown::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  grid-area: select;
  justify-self: end;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

.tempdropdown::focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}
